body
{
	font-family: "微軟正黑體",Tahoma, Helvetica, Arial, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #fdfdfd;
	
}
a
{
	text-decoration: none;
	color: black;
}
a:hover
{
	text-decoration: none;
	color: black;
}
.contain
{
	min-height: 300px;
	width: 460px;
	overflow: auto;
	margin: 0px auto;
	margin-top: 50px;
	font-size: 16px;
}
.form-box{
	width: auto;
	height:35px;
	margin-bottom:25px;	
}
.upload{
	width: auto;
	float: left;
	margin-right: 8px;
}
.dropdown-box{
	width: 250px;
	float: left;
}
.dropdown{
	padding-right: 20px;
}
.button-box{
	width: auto;
	height:35px;
	margin-top: 80px;
	margin-left:180px;	
}