body
{
	font-family: "微軟正黑體",Tahoma, Helvetica, Arial, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #fdfdfd;
	
}
.contain
{
	min-height: 500px;
	width: 800px;
	overflow: auto;
	margin: 0px auto;
	margin-top: 70px;
	font-size: 16px;
}
.contain-box{
	width: 800px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-top: 0px;
	padding: 50px 100px 50px 100px;
}
.upload-box{
	width: 600px;
}
.form-box{
	width: auto;
	height:40px;
	margin-bottom:25px;	
}
.upload{
	width: auto;
	float: left;
	margin-right: 8px;
}
.dropdown-box{
	width: 250px;
	float: left;
}
.date-box{
	width: 250px;
	float: left;
}
.dropdown{
	padding-right: 20px;
}
.button-box{
	width: auto;
	height:35px;
	margin-top: 50px;
	margin-left:100px;	
}